body{
    border: 1px solid black;
    background-image: url("https://storage.pixteller.com/designs/designs-images/2019-03-27/04/business-background-backgrounds-business-1-5c9b8f720ae83.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* color: white; */
    h1{
        text-align: center;
        font-size: 50px;
        text-transform: capitalize;
    }
    span{
        color: red;
        font-size: 20px;
        font-weight: bold;
    }
    .para{
        text-align: center;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
    p{
        text-align: justify;
    }
    .span{
        color: blue;
        font-size: 20px;
        /* font-weight: bold; */
    }
    .container{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        text-transform: capitalize;
         h2{
            text-transform: uppercase;
        }

        a{
            border: 1px solid black;
             padding: 10px 20px;
             text-decoration: none;
             border-radius: 10px;
             background-color: brown;
             color: white;
             text-transform: capitalize;
        }
        .card1{
            border: 1px solid black;
            height: 70vh;
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 10px;
            border-radius: 20px;
            background-color: lightgreen;
            
        }
    }
    @keyframes appear{
        from{
            opacity: 0;
            scale:0.5;
        }
        to{
            opacity: 1;
            scale:1;
        }
    }

    .container1{
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;


        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0 cover 40%;



         a{
            border: 1px solid black;
            padding: 10px 20px;
             text-decoration: none;
              border-radius: 10px;
             background-color: brown;
             color: white;
             text-transform: capitalize;
        }
        h2{
            text-transform: uppercase;
        }
       
         .card2{
            border: 1px solid black;
            height: 70vh;
             width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 10px;
            border-radius: 20px;
                        background-color: lightgreen;


        }
         .card3{
            border: 1px solid black;
            height: 70vh;
             width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 10px;
            border-radius: 20px;
                        background-color: lightgreen;


        }
         .card4{
            border: 1px solid black;
            height: 70vh;
             width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 10px;
            border-radius: 20px;
                        background-color: lightgreen;


        }
         .card5{
            border: 1px solid black;
            height: 70vh;
             width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 10px;
            border-radius: 20px;
                        background-color: lightgreen;


        }
         .card6{
            border: 1px solid black;
            height: 70vh;
             width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 10px;
            border-radius: 20px;
                        background-color: lightgreen;


        }
         .card7{
            border: 1px solid black;
            height: 70vh;
             width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 10px;
            border-radius: 20px;
                        background-color: lightgreen;


        }
        img{
            height: 150px;
            width: 150px;
            border-radius: 100%;
        }
    }
    h3{
        text-align: center;
        font-size: 50px;
        color: aliceblue;

    }
}